*{
	padding: 0;
	margin: 0;
}

h1{
	color: green;
	font-size: 4rem;
	text-align: center;
	margin-bottom: 10px;
}

#cashRegister, #Waiter{
	display: inline-block;
	width: 40%;
	background-color: lightgreen;
	vertical-align:top;
	text-align: center;
	height: 500px;
}

#cashRegister{
	margin-left: 9%;
	margin-right: 1%;
}

#cashRegister button{
	margin-top: 200px;
}

#Waiter form:first-child{
	margin-top: 50px;
}

#Waiter form:nth-child(2){
	margin-top: 20px;
}

#Waiter label, #Waiter input{
	font-size: 2rem;
	display: block;
	text-align: center;
	margin: auto;
}

#Waiter input{
	width: 20%;
}

#waiterNumber{
	color: green;
	text-align: center;
	font-size: 2rem;
}

.backButton{
	background-color: green;
	color: white;
	padding: 0.5%;
}

#BadWaiter{
	color:red;
	font-size: 2rem;
	display: block;
	text-align: center;
}

.IndexButton{
	color:white;
	background-color:green;
	font-size: 4em;
	padding:0.4%;
	margin:1%;
}

.IndexButton:hover{
	background-color:orange;
	cursor: pointer;
}

#AllOrders{
	width:40%;
	display: inline-block;
	vertical-align:top;
}

#Paiement{
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

#ordersToPay{
	width: 100%;
}

#menu{
	width:40%;
	display: inline-block;
	vertical-align:top;
	margin-left:20%;
}

#tableChoose{
	text-align:center;
}

#actualOrder{
	width: 30%;
	display: inline-block;
	vertical-align:top;
}

#listRegister{
	margin-top: 5%;
}

.ChoiceTable{
	font-weight: bold;
	font-size: 2em;
	color: green;
	border-color : green;
	border: 0.5rem solid;
	margin: 1%;
}

.ChoiceTable option{
	font-weight: bold;
}

.ValidateButton{
	color:white;
	background-color:green;
	font-size: 2em;
	padding:0.4%;
	margin:1%;
}

.ValidateButton:hover{
	background-color:orange;
	cursor: pointer;
}

.parentsName{
	font-size: 2em;
	color: green;
	font-weight: bold;
}

.parentsName:hover{
	color: orange;
	text-decoration: underline;
	cursor: pointer;
}

.SectionName{
	padding-left:10%;
	color: green;
	font-size: 1.5em;
	font-weight: bold;
}

.prototype{
	padding-left:15%;
	margin-bottom: 2%;
}

.prototype button{
	background-color: green;
	color: white;
	font-size: 1em;
	padding: 0% 1%;
	margin-left: 1%;
	margin-right: 1%;
}

.prototype button:hover{
	background-color: orange;
	cursor: pointer;
}

.prototype a{
	font-size: 1.2em;
}

#actualOrder div{
	font-size: 1.2rem;
}

#actualOrder div div div{
	margin-bottom: 2%;
}

.WithIce input{
	margin-right : 0.3%;
	margin-left : 2%;
}

.WithSugar input{
	margin-right : 0.3%;
	margin-left : 2%;
}

.WichSauce input{
	margin-right : 0.3%;
	margin-left : 2%;
}

.WichCooking input{
	margin-right : 0.3%;
	margin-left : 2%;
}

.ModificationButton{
	color:white;
	background-color:green;
	font-size: 1.2rem;
	padding:0.4%;
	margin:1%;
}

.ModificationButton:hover{
	background-color: orange;
	cursor: pointer;
}

#AllOrders{
	margin-left:5%;
}

#ordersToPay{
	font-size: 1.5rem;
}

#ordersToPay div{
	border-bottom: 1px dotted;
}

#Paiement{
	font-size: 1.5rem;
}

#Paiement button{
	font-size: 2rem;
}

.MoyenDePaiement{
	margin-bottom: 3%;
}

.MoyenDePaiement input{
	margin-right : 0.3%;
	margin-left : 2%;
}

#Montant input{
	font-size: 1.5rem;
	margin-bottom: 3%;
	margin-top: 3%;
}

#selectSpecialities{
	width: 100%;
	height: 80%;
	font-size: 2em;
}

#selectSpecialities option[selected=selected]{
	background-color: green;
}

#selectSpecialities option:hover{
	background-color: rgba(64, 116, 23, 0.95);
	color: white;
;
}