<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1" />
<link href="css/styles.css" rel="stylesheet" />
<title>Spring Boot Application</title>
</head>
<body>
	<h4>Welcome to Thymeleaf Spring Boot web application</h4>
	<span th:text="${counter.getCounter()}"></span>
	<form action="/incrementation" method="POST">
		<button type="submit" value="Add">Add</button>
	</form>
</body>
</html>