<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1" />
<link href="css/styles.css" rel="stylesheet" />
<title>Cash Register</title>
</head>
<body>
	<div id="index">
		<form action="/index" method="POST">
			<button class="backButton" type="submit" value="go">&lt;-</button>
			<label>Retour &agrave; l'acceuil</label>
		</form>
	</div>
	<form action="/tableChoice" method="POST" style="text-align: center;">
		<select class="ChoiceTable" name="table">
			<option th:each="table : ${tables}"
				th:text="'Table n. ' + ${table.getNumber()}"
				th:value="${table.getNumber()}" th:selected="${selectedTable.getNumber()==table.getNumber()}"></option>
		</select>
		<button class="ValidateButton" type="submit" name="submit">Valider</button>
	</form>
	<form action="/flushTable" method="POST" th:if="${selectedTable.getPrice() le 0}">
		<div id="FlushForm" style="text-align:center;">
			<button  class="ValidateButton" type="submit">Vider la table</button>
		</div>
	</form>
	<form action="/ticket" method="POST" target="_blank" th:if="${selectedTable.getPrice() le 0}">
		<div id="FlushForm" style="text-align:center;">
			<button  class="ValidateButton" type="submit">Ticket</button>
		</div>
	</form>
	<form id="listRegister" action="/payment" method="POST">
		<div id="AllOrders">
			<div id="ordersToPay">
				<div th:each="prototype : ${selectedTable.getPrototypes()}">
					<div th:id="${selectedTable.getPrototypes().indexOf(prototype)}" th:utext="${prototype.toString()}"></div>
				</div>
			</div>
		</div>
		<div id="Paiement" style="text-align:center;">
			<div>
				<div style="text-align:center;">
					<label th:text="'Reste &agrave; payer : ' + ${selectedTable.getPrice()} + ' &euro;'"></label>
				</div>
				<div id="Montant" style="text-align:center;">
					<input th:name="somme" value="0.0"></input>
				</div>
				<div class="MoyenDePaiement" style="text-align:center;">
					<input type="radio" name="moyenDePaiement" value="CB" checked="checked">CB</input>
					<input type="radio" name="moyenDePaiement" value="esp">Esp&egrave;ces</input>
					<input type="radio" name="moyenDePaiement" value="che">Ch&egrave;ques</input>
				</div>
				<div style="text-align:center;">
					<button  class="ValidateButton" type="submit">Payer</button>
				</div>
			</div>
		</div>
	</form>
</body>
</html>